$fontSize: calc(0.8rem + 0.7vw);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 1px dashed red;
}


button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.25rem;

    &:disabled {
        cursor: not-allowed;
    }
}

body #root {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100vw;
    min-height: 100vh;

    header {
        color: white;
    }

    main {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .graphContainer {
            // border: 2px solid pink;
            width: 90%;
            min-height: 50vh;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            // button {
            //     position: absolute;
            //     top: 10%;
            //     right: 10%;
            //     background-color: #333;
            //     color: white;
            // }

            .graph {
                width: 100%;
                height: 80%;
                // border: 2px solid blueviolet;
                display: flex;
                justify-content: center;
            }

            .botonera {
                display: flex;
                justify-content: center;

                button {
                    padding: 0.5rem;
                    border: 1px solid white;
                    background-color: #333;
                    color: #ddd;

                    &.active {
                        background-color: green;
                    }
                }
            }
        }

        .dispenserMainContainer {
            min-height: 50vh;
            width: 90%;
            // border: 2px solid blue;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            .dispenserData {
                margin: 0.5rem;
                width: 80%;
                max-width: 400px;
                aspect-ratio: 4/3;
                border: 5px solid #666;
                border-radius: 15px;
                box-shadow: 4px 4px 5px #666;
                display: grid;

                grid-template-columns: 1.618034fr 1fr;
                grid-template-rows: 15% 10% 45% 30%;

                grid-template-areas:
                    "botonera flecha"
                    "nombre flecha"
                    "contador flecha"
                    "restantes restantes";

                div {
                    padding: calc($fontSize*0.25);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                }

                &__botonera {
                    grid-area: botonera;

                    button {
                        height: 100%;
                        aspect-ratio: 1;
                        background-color: #222;
                        // background-color: #222;
                        // background-color: white;

                        svg {
                            fill: white;
                        }

                        // width: 20%;
                    }
                }

                &__nombre {
                    color: white;
                }

                &__contador {
                    grid-area: contador;
                    font-size: calc($fontSize*6);
                    color: #eee;
                }

                &__restantes {
                    grid-area: restantes;
                    font-size: calc($fontSize*1.5);
                    border-top: 1px solid #888;
                    flex-direction: column;

                    div {
                        color: #888;
                        padding: 0;
                        //background-color: pink;
                    }
                }


                &__flecha {
                    flex-direction: column;
                    grid-area: flecha;
                    font-size: calc($fontSize*2);
                    border-left: 1px solid #888;

                    .iconoContainer {
                        // background-color: red;
                        width: 50%;
                        aspect-ratio: 1;
                    }

                    &.rojo {
                        div {
                            color: tomato;

                            svg {
                                fill: tomato;
                            }
                        }

                    }

                    &.verde {
                        div {
                            color: green;

                            svg {
                                fill: green;
                            }
                        }
                    }
                }
            }
        }

        .modalConfiguracionContainer {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .modalConfiguracion {
                border: 5px solid black;
                border-radius: 15px;
                padding: 1rem;
                background-color: #eee;
                width: 50%;
                //min-height: 50vh;

                display: flex;
                flex-direction: column;
                position: relative;

                .titulo {
                    //background-color: black;
                    text-align: center;
                    font-size: 1rem;
                    margin: 1rem;
                }

                label {
                    border-bottom: 2px solid #aaa;
                    margin: 0.5rem auto;
                    width: 80%;
                    display: flex;
                    justify-content: space-between;

                    input {
                        background-color: inherit;
                        outline: none;
                        // outline: 1px solid #aaa;
                        border: none;
                        text-align: center;

                        &:focus {
                            background-color: lightblue;
                        }
                    }

                    &:hover {
                        background-color: lightblue;
                    }
                }

                .cerrar {
                    background-color: black;
                    color: white;
                    width: 2rem;
                    height: 2rem;
                    padding: 0;
                    margin: 0;
                    position: absolute;
                    border: 2px solid black;
                    outline: none;
                    border-bottom-left-radius: 10px;
                    top: 0;
                    right: 0;

                    svg {
                        fill: white;
                    }

                    &:hover {
                        border-radius: 10px;
                        background-color: white;

                        svg {
                            fill: black;
                        }
                    }
                }
            }

            .guardar {
                padding: 0.5rem;
                margin: 0.5rem;
                min-width: 150px;
                border: 2px solid black;
                border-radius: 5px;
                outline: none;
                color: #ccc;

                background-color: green;
            }
        }
    }
}